/* font face myriadpro */
@font-face {
	font-family: 'MyriadPro-Black';
	src: url('__fontes/MyriadPro-Black.eot');
	src: local('☺'), url('__fontes/MyriadPro-Black.woff') format('woff'), url('__fontes/MyriadPro-Black.ttf') format('truetype'), url('__fontes/MyriadPro-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Light';
	src: url('__fontes/MyriadPro-Light.eot');
	src: local('☺'), url('__fontes/MyriadPro-Light.woff') format('woff'), url('__fontes/MyriadPro-Light.ttf') format('truetype'), url('__fontes/MyriadPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('__fontes/MyriadPro-Regular.eot');
	src: local('☺'), url('__fontes/MyriadPro-Regular.woff') format('woff'), url('__fontes/MyriadPro-Regular.ttf') format('truetype'), url('__fontes/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* font face myriadpro */

/* gerais */
body { font-family: 'MyriadPro-Regular'; }
header h1 a.btnMenu { float: left; display: block; width: 39px; height: 36px; text-indent: -5000em; overflow: hidden; background: url('../__img/icon-menu2.png'); margin: 10px 0px 0px 10px; }

/* menu */
ul#menu { position: absolute; z-index: 99999999; background: #000; width: 100%; top: -160px;}
ul#menu li { border-bottom: 1px solid #393939; }
ul#menu li a { padding: 10px; text-indent: -5000em; overflow: hidden; }
ul#menu li a.btnSobre { display: block; background: url('../__img/text-sobre.png') 20px 10px no-repeat; }
ul#menu li a.btnPortfolio { display: block; background: url('../__img/text-portfolio.png') 20px 10px no-repeat; }
ul#menu li a.btnContato { display: block; background: url('../__img/text-contato.png') 20px 10px no-repeat; }
ul#menu li a.btnFecharMenu { display: block; background: url('../__img/icon-closemenu.png') 20px 10px no-repeat; }


/* social */
ul#social { overflow: hidden; width: 90px; float: right; margin: 10px 10px 0px 0px; }
ul#social a { display: block; float: left; width: 31px; height: 31px; margin: 5px; text-indent: -5000em; overflow: hidden; }
ul#social a.btnLinkedin { background: url('../__img/icon-linkedin.png'); }
ul#social a.btnBehance { background: url('../__img/icon-behance.png'); }

/* section logo */
div.slider-home { display: block; position: absolute; width: 700px; height: 135px; left: 50%; top: 50%; margin-left: -350px; margin-top: -68px; overflow: hidden;}
ul#slider-left { width: 350px; float: left; }
li.slider01 { width: 350px; height: 133px; background: url('../__img/conde-logo1.png'); overflow: hidden; text-indent: -5000em; }
li.slider02 { width: 350px; height: 133px; background: url('../__img/conde-logo2.png'); overflow: hidden; text-indent: -5000em; }
li.slider03 { width: 350px; height: 133px; background: url('../__img/conde-logo3.png'); overflow: hidden; text-indent: -5000em; }
li.slider04 { width: 350px; height: 133px; background: url('../__img/conde-logo4.png'); overflow: hidden; text-indent: -5000em; }
li.slider05 { width: 350px; height: 133px; background: url('../__img/conde-logo5.png'); overflow: hidden; text-indent: -5000em; }
li.slider06 { width: 350px; height: 133px; background: url('../__img/conde-logo6.png'); overflow: hidden; text-indent: -5000em; }
ul#slider-right { width: 350px; float: right; margin-top: -665px; }
li.slider07 { width: 350px; height: 133px; background: url('../__img/conde-logo6.png') -350px 0px; overflow: hidden; text-indent: -5000em; }
li.slider08 { width: 350px; height: 133px; background: url('../__img/conde-logo5.png') -350px 0px; overflow: hidden; text-indent: -5000em; }
li.slider09 { width: 350px; height: 133px; background: url('../__img/conde-logo4.png') -350px 0px; overflow: hidden; text-indent: -5000em; }
li.slider10 { width: 350px; height: 133px; background: url('../__img/conde-logo3.png') -350px 0px; overflow: hidden; text-indent: -5000em; }
li.slider11 { width: 350px; height: 133px; background: url('../__img/conde-logo2.png') -350px 0px; overflow: hidden; text-indent: -5000em; }
li.slider12 { width: 350px; height: 133px; background: url('../__img/conde-logo1.png') -350px 0px; overflow: hidden; text-indent: -5000em; }

/* section sobre */
section.sobre	{ position: absolute; width: 960px; height: 460px; top: 50%; left: 50%; margin-top: -260px; margin-left: -480px;}
div.bloco1,div.bloco2,div.bloco3,div.bloco4 { float: left; width: 220px; height: 340px;margin-top: 100px; padding: 10px;}
h1 a.btnHome { display: block; width: 250px; height: 63px; background: url('../__img/conde-logo-interna.png'); text-indent: -5000em; overflow: hidden; left: 50%; position: absolute; margin-left: -125px;}
div.bloco1 h2.sobre { display: block; width: 73px; height: 20px; background: url('../__img/h2-sobre.png'); text-indent: -5000em; overflow: hidden; }
div.bloco1 p { font-size: 12px; line-height: 21px; width: 90%; margin: 10px 0px 10px 0px; }
div.bloco2 h2.onde,div.bloco2 h2.quem,div.bloco4 h2.awards { margin-left: 23px; text-transform: uppercase; font-size: 14px; font-family: 'MyriadPro-Regular'; font-weight: 600; }
h2.quem { margin-top: 30px;}
div.bloco2 ul li { display: block; font-size: 12px; line-height: 22px; margin-left: 23px; }
a.btnTodos { display: block; background: #22363a; color: #FFF; text-transform: uppercase; text-decoration: none; width: 90px; text-align: center; padding: 3px; margin: -20px 0px 0px 0px; z-index: 9999; position: relative;}
ul.skills li { float: left; margin: 3px;}
div.bloco4 ul li { display: block; font-size: 12px; line-height: 15px; margin-left: 23px; margin: 10px 10px 0px 20px; }
span.legenda { color: #bebebe; top: -10px; line-height: 10px;}
a.btnCV { display: block; width: 116px; height: 29px; background: url('../__img/cv-down.png'); text-indent: -5000em; overflow: hidden; margin: 20px 0px 0px 20px;}
li.listaMobile { opacity: 0; }
div.clientescompleto { position: absolute; width: 100%; height: 100%; background: #000; z-index: 99999; }
a.btnFecharclientes { display: block; position: absolute; right: 10px; top: 10px; width: 61px; height: 64px; background: url('../__img/btnClose.png'); text-indent: -5000em; overflow: hidden;}
div.clientescompleto ul { overflow: auto; width: 610px; height: 270px; position: absolute; top: 50%; left: 50%; margin-top: -135px; margin-left: -305px; }
div.clientescompleto ul li { float: left; width: 190px; color: #FFF; margin: 5px;font-family: 'MyriadPro-Light'; color: #858585; font-size: 14px; }

/* section contato */
section.contato	{ position: absolute; width: 740px; height: 170px; top: 50%; left: 50%; margin-top: -90px; margin-left: -370px; }
section.contato	div.col1 { display: block; width: 250px; height: 63px; background: url('../__img/conde-logo-interna.png'); float: left; text-indent: -50000em; overflow: auto; margin-top: 55px;}
section.contato div.col2 { display: block; width:170px; height:169px; background: url('../__img/conde-icon.png'); float: left; text-indent: -50000em; overflow: auto; margin-left: 20px;}
section.contato div.col3 { font-family: 'MyriadPro-Regular'; font-size: 18px; float: left; margin: 40px 0px 0px 20px;}
section.contato div.col3 span.big { font-size: 30px;}

/* section portfolio */
section.portfolio { position: absolute; width: 963px; padding-bottom:230px; left: 50%; top: 30px; margin-left: -481px; }
section.portfolio-single { position: relative; width: 100%; padding-bottom:230px; left: 0%; top: 30px; }
ul#portfoliolist { margin-top: 120px;}
ul#portfoliolist li { float: left; margin: 0px; padding: 0px; width: 321px; height: 234px;}
div#portfoliosmoke { background: url('../__img/sombra.png'); position: fixed; bottom: 0px; width: 100%; height: 100px; z-index: 999;}
a.bgnGotop { display: block; width: 110px; height: 110px; clear: both;position: absolute; bottom: 100px; left: 50%; margin-left: -55px; background: url('../__img/btnGotop.png'); overflow: hidden; text-indent: -5000em; }
div#overlist { display: none; opacity: 0; position: absolute; width: 321px; height: 234px; background: #000; text-align: center;}
div#overlist overlisttitle { font-family: 'MyriadPro-Light'; color: #ca8a00; text-transform: uppercase; font-size: 20px; letter-spacing: 2px; top: 100px; position: relative; }
div#overlist a.btnAcessar { border: 1px solid #ca8a00; color: #ca8a00; padding: 12px; text-transform: uppercase; font-size: 12px; text-decoration: none; font-family: 'MyriadPro-Regular'; letter-spacing: 2px; top: 125px; position: relative;}
div.single-job { height: 300px; position: relative; top: 90px; margin-bottom: 100px; background: #000;}
div.single-job h2 { font-family: 'PT Sans', sans-serif; font-weight: normal; color: #ca8a00; text-transform: uppercase; font-size: 30px; top: 40%; left: 50%; width: 500px; margin-left: -250px; letter-spacing: 2px; position: absolute; text-align: center; display: block;}
span.type1 { width: 123px; height: 37px; background: url('../__img/jobicon.png'); display: block; position: absolute; top: 60%; left: 50%; margin-left: -60px;}
div.images-job { text-align: center;}
img.portfolioImg { outline: 0; max-width: 100%; height: auto; }

/* doyoulike */
div.doyoulike { font-family: 'PT Sans', sans-serif; font-weight: normal; padding: 10px; text-transform: uppercase; font-size: 12px; border: 1px solid #ededed; background: #FFF; position: fixed; width: 450px; height: 20px; z-index: 99999; left: 50%; margin-left: -225px; top: 10px; box-shadow: 3px 3px 15px #e9e9e9; opacity: 0.5; display: none;}
div.doyoulike p { float: left; line-height: 22px; margin-left: 10px; }
div.doyoulike div#share { float: right; width: 270px; }
div.doyoulike div#share ul li { float: left; display: block;}
div.doyoulike div#share ul li#facebook { width: 100px;}
div.doyoulike div#share ul li#gplus { width: 70px;}
div.doyoulike div#share ul li#twitter { width: 100px;}


/* footer */
footer { bottom: 0px; background: #000; width: 100%;height: 30px; position: fixed; clear: both; z-index: 9999;}
footer div#telefone { margin: -45px 0px 0px 20px; float: left; background: url("../__img/footer-icon.png") no-repeat; height: 35px; padding-left: 45px; line-height: 35px; width: 130px; }
footer div#share { margin-top: -45px; float: right; width: 280px;}
footer div#share ul li { float: left; display: block;}
footer div#share ul li#facebook { width: 100px;}
footer div#share ul li#gplus { width: 70px;}
footer div#share ul li#twitter { width: 100px;}

body.portfolio-single footer { clear: both; display: block; position: relative;}