footer div#share { position: absolute; clear: both; }
footer div#telefone { position: absolute; left: 50%; bottom: 90px; margin-left: -85px; }

section.logo-conde { background: url('../__img/conde-logo1-small.png') no-repeat center center; top: 30%; left: 50%; margin-left: -147px; position: fixed;width: 294px; height: 74px;}

div.slider-home { display: none; }

section.sobre { width: 90%; left: 0%; margin: 0px auto; display: block; position: relative; top: 30px; height: auto; overflow: auto;}

h1 a.btnHome { margin-bottom: 20px; clear: both; position: relative;}

div.bloco1,div.bloco2,div.bloco3,div.bloco4 { width: 90%; margin: 0px auto; }

div.bloco1 { height: 300px;}
div.bloco3 { height: 350px;}
div.bloco2 { margin-top: -70px; }
div.bloco4 { height: 290px;}
div.bloco2 h2.onde,div.bloco2 h2.quem,div.bloco4 h2.awards,div.bloco2 ul li,div.bloco4 ul li,a.btnCV  { margin-left: 0px; }
li.listaMobile { opacity: 1; }
a.btnTodos { display: none; }

body.sobre footer,body.contato footer,body.portfolio footer { clear: both; margin-top: 150px; display: block; position: relative;}

section.contato { width: 90%; margin: 0px auto; display: block; position: relative; overflow: auto; height: 400px; left: 0px; top: 20px;}
section.contato	div.col1 { margin: 0px auto; position: absolute; top: 200px; left: 50%; margin-left: -125px;}
section.contato	div.col2 { margin: 0px auto; position: absolute; top: 0px; left: 50%; margin-left: -85px;}
section.contato	div.col3 { margin: 0px auto; position: relative; top: 300px; width: 280px; left: 50%; margin-left: -140px; text-align: center;} 

section.portfolio { width: 90%; left: 0%; margin: 0px auto; display: block; position: relative; top: 30px; height: auto; overflow: auto; padding-bottom: 130px; }
section.portfolio-single { width: 100%; left: 0%; margin: 0px auto; display: block; position: relative; top: 30px; height: auto; overflow: auto; padding-bottom: 130px;}
ul#portfoliolist { width: 321px; margin: 0px auto; overflow: }
ul#portfoliolist li { width: 321px; }
div.single-job { top: 20px; margin-bottom: 30px;}



a.bgnGotop { bottom: 0px; }